body {
  font-family: "Shadows Into Light", cursive;
  color: #8f89a0;
  font-weight: 800;
  background-color: #0e0c13;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: auto; /*Enables scrolling for whatever reason*/
  margin: 0;

  h1{
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    margin-left: 1px;
    margin-bottom: 0px;
    margin-top: 20px;
  }
  h2{
    margin-bottom: -10px;
    margin-top: 5px;
  }
  h3 {
    margin-bottom: -15px;
    margin-top: -8px;
    font-family: "Sedgwick Ave Display", cursive;
  }
  /*
  p{
    margin-right: 25%;
    margin-left: 25%;
  }
  */
  .bordered-image {
    border: 5px solid #0e0c13; /* 5px purple border */
    border-radius: 10px; /* Rounds the corners */
    height: 50vh;
    /*box-shadow: 2px 2px 2px rgb(45, 17, 72)*/
  }

  .input-container {
    margin-bottom: 20px;
  }

  .display-name {
      font-size: 24px;
      /*font-weight: bold;*/
      color: #000000;
      font-family: "Shadows Into Light", cursive;
      font-weight: 800;
  }

  .projectsDiv{
    margin-right: 2vw;
    margin-left: 2vw;
    display:flex;
    justify-content: space-around;
    /*this may not do anything*/
    align-items: flex-start;
    gap: 2%;
  }
  .divItem{
    padding: 1vw;
    border: 0.7vw solid #8f89a0; /* 5px purple border */
    border-radius: 1.4vw; /* Rounds the corners */
    /*height: 35vw;*/
    .bordered-image {
      margin-top: 2%;
      margin-bottom:-2%;
      height: 26vw;
    }
  }
  a{
    color: #551A8B;
      .divItem{
        color: #000000;
        text-decoration: none;
  }
  }
  ::selection {
  background-color: #551A8B;
  color: #8f89a0;
  border-radius: 9999px; /* fully rounded */
  padding: 0.2em 0.08em;
  }
  /*
  .multi-line-highlight{
    border-radius: 20px;
    padding: 2px 6px;
 }*/
}