:root{
  --base-color: #0e0c13;
  --base-variant: #0e0c13;
  --text-color: #8f89a0;
  --secondary-text: #8f89a0;
  --primary-color: #8f89a0;
  --accent-color: #5D3C80;
}
body {
  font-family: "Shadows Into Light", cursive;
  color: var(--text-color);
  font-weight: 800;
  background-color: var(--base-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: auto; /*Enables scrolling for whatever reason*/
  margin: 0;

  h1{
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    margin-left: 1px;
    margin-bottom: 0px;
    margin-top: 20px;
  }
  h2{
    margin-bottom: -10px;
    margin-top: 5px;
  }
  h3 {
    margin-bottom: -15px;
    margin-top: -8px;
    font-family: "Sedgwick Ave Display", cursive;
  }
  /*
  p{
    margin-right: 25%;
    margin-left: 25%;
  }
  */
  .bordered-image {
    border: 5px solid var(--base-variant); /* 5px purple border */
    border-radius: 10px; /* Rounds the corners */
    height: 50vh;
    /*box-shadow: 2px 2px 2px rgb(45, 17, 72)*/
  }

  .projectsDiv{
    margin-right: 2vw;
    margin-left: 2vw;
    display:flex;
    justify-content: space-around;
    /*this may not do anything*/
    align-items: flex-start;
    gap: 2%;
  }
  .divItem{
    background-color: var(--base-variant);
    padding: 1vw;
    border: 0.7vw solid var(--primary-color); /* 5px purple border */
    border-radius: 1.4vw; /* Rounds the corners */
    /*height: 35vw;*/
    .bordered-image {
      margin-top: 2%;
      margin-bottom:-2%;
      height: 26vw;
    }
  }
  a{
    color: var(--accent-color);
  }
  ::selection {
  background-color: var(--accent-color);
  color: var(--secondary-text);
  border-radius: 9999px; /* fully rounded */
  padding: 0.2em 0.08em;
  }
  /*
  .multi-line-highlight{
    border-radius: 20px;
    padding: 2px 6px;
 }*/
}